<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Academia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Academia.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" onclick="window.location.reload();">Academia Strong Fit</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        @if (User.Identity.IsAuthenticated)
                        {                            
                            @if (User.IsInRole("Personal"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="PersonalAluno" asp-action="MeusAlunos"><i class="bi bi-person-circle"></i> Meus alunos</a>
                                </li>                                
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="PersonalAluno" asp-action="AlunosCadastrados"><i class="bi bi-person-bounding-box"></i> Alunos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Treino" asp-action="Index"><i class="bi bi-calendar-check"></i> Treinos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Exercicio" asp-action="Index"><i class="bi bi-fitness"></i> Exercícios</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Personal" asp-action="Perfil"><i class="bi bi-person-circle"></i> Perfil</a>
                                </li>
                            }                            
                            else
                            if (User.IsInRole("Aluno"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Aluno" asp-action="MeusTreinos"><i class="bi bi-journal-text"></i> Meus Treinos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Aluno" asp-action="Perfil"><i class="bi bi-person-circle"></i> Perfil</a>
                                </li>
                            }

                            <li class="nav-item">
                                <form method="post" asp-controller="Account" asp-action="Logout" class="d-inline">
                                    <button type="submit" class="nav-link btn btn-link text-light"><i class="bi bi-box-arrow-right"></i> Sair</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Login" asp-action="Index"><i class="bi bi-box-arrow-in-right"></i> Entrar</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer bg-dark mt-5 py-4">
        <div class="container text-center">
            <p class="text-light">&copy; 2025 - Academia1 | <a asp-controller="Home" asp-action="Privacy" class="text-warning">Privacidade</a></p>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
