@model List<Academia1.Models.Treino>

<h2>Meus Treinos</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data</th>
            <th>Personal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var treino in Model)
        {
            <tr>
                <td>@treino.NomeTreino</td>
                <td>@treino.Data.ToShortDateString()</td>
                <td>@treino.Personal?.UserName</td>
                <td>
                    <a asp-action="DetalhesTreino" asp-route-id="@treino.TreinoID">Detalhes</a>
                </td>
            </tr>
        }
    </tbody>
</table>
