/* Definindo o corpo da página e o layout */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o body ocupe toda a altura da tela */
}

.container {
    flex: 1; /* Faz o container ocupar o restante do espaço disponível */
}

.footer {
    margin-top: auto; /* Faz o rodapé sempre ir para o fundo da página */
    background-color: #343a40;
    color: #FFD700; /* Cor amarela */
    text-align: center;
}

    .footer a {
        color: #FFD700; /* Cor amarela para o link */
        text-decoration: none; /* Remove o sublinhado */
    }

        .footer a:hover {
            color: #fff; /* Cor branca quando passar o mouse */
            text-decoration: underline; /* Sublinha o link ao passar o mouse */
        }
