/* Navbar hover */
.navbar-nav .nav-link:hover {
    background-color: #FFD700; /* Cor amarela da sua paleta */
    color: #000; /* Texto preto ao passar o mouse */
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
/* Footer */
.footer {
    color: #FFD700; /* Cor amarela */
}

    .footer a {
        color: #FFD700; /* Cor amarela para o link */
        text-decoration: none; /* Remove o sublinhado */
    }

        .footer a:hover {
            color: #fff; /* Cor branca quando passar o mouse */
            text-decoration: underline; /* Sublinha o link ao passar o mouse */
        }






